body {
    /***
.custom-page-header {
  margin-top: 0;
  padding-top: 0;  
  margin-bottom: 1.5rem;
}

.custom-page-header img {
  width: 100%;
  height: auto;
  display: block;
}
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}
